/* todo o css aqui */
* {
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

header,footer {
	padding: 20px;
	background: #777;
	color: white;
}

.body {
	display: flex;
	flex-grow: 1;
}

.content {
	background: lightblue;
	flex-grow: 1;
}

.info {
	background: honeydew;
	width: 160px;
	order: -1;
}

.sidebar {
	background: peachpuff;
	width: 160px;
}

@media (max-width: 980px){
	.body{
		flex-direction: column;
	}
	
	.info, .sidebar {
		width: auto;
	}
}